@import url(http://fonts.googleapis.com/css?family=Lato|Bree+Serif);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.outline-button{
    text-decoration: none;
    font-family: lato Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    padding: 0.75rem 1.2rem;
  }

.white {
    border: 1px solid white;
    color: white
}
.lilac {
    border: 1px solid #8980c2;
    color: #8980c2;
}

/* Header Component */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 1.5rem;
}

#brand {
  width: 50%;
  margin-bottom: 1rem;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

nav a {
  font-family: lato Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #888;
  font-size: 1.25rem;
g
/* Hero Content */
/* T1W2D4 LAST HOUR: */
#hero {
    position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #8980c2 url("images/zebra-hero.jpg") 33% no-repeat;
  background-size: cover;

  padding: 2rem 0;
}

#hero h1 {
  font-family: "Bree Serif" "Times New Roman", Times, serif;
  color: white;

  font-size: 2.5rem;
  font-weight: normal;
  margin: 1rem 0;
}



#hero img {
  width: 50%;
  border-radius: 50%;
}


/* Make overlay to sit on top of image and lighten/darken using background color*/
/* set universal z index and position of elements */
/* #hero * {
    z-index: 1;
    position: relative;
}

/* sets overlay */
/* #hero:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.146);
    z-index: 0;
} */ 




/* Main Content */



main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bree Serif" "Times New Roman", Times, serif;
}

main h2 {
  font-family: "Bree Serif" "Times New Roman", Times, serif;
  margin: 1rem 0 0;
}

main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

main article img {
    width: 75%;
    border-radius: 50%;
    border: 1px solid #8980c2
}

main article h3 {
    color: #8980c2;
    margin: 1rem 0;
    font-weight: normal;
    font-size: 1.5rem;
}

main article p {
    font-size: 1.1rem;
    padding: 0 2rem;
}

main article a {
    color: #8980c2;
    border: 1px solid #8980c2;
    margin: 1rem 0;
}

/* social link component */

#social-links {
    background: #8980c2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#social-links p {
    color: white;
    font-size: 1.1rem;
  font-family: "Bree Serif" "Times New Roman", Times, serif;
  margin-bottom: 1rem;
}


#social-links nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Footer component */

footer {
    text-align: center;
    padding: 1rem;
}

footer p {
  font-family: "Bree Serif" "Times New Roman", Times, serif;
    color: #888;
    font-size: 1.25rem;
}

/* Tablet Layout */

@media only screen and (min-width: 550px) {
    header {
        flex-direction: row;
        align-items: center;
        margin-top: .5rem;
        justify-content: space-around;
    }
    #brand {
        width: 25%;
        display: block;
        margin-bottom: 0;
        margin-left: 1rem;
      }


}



@media only screen and (min-width: 800px) {
      #hero img {
        width: 30%;
      }
}



@media only screen and (min-width: 750px) {
    main h2 {
        text-align: center;
        width: 100%;
        margin-bottom: .5rem;

    }
    main {
        display: ;
        margin-bottom: .5rem;

        flex-direction: row;
        flex-wrap: wrap;
      }
    main article {
        width: 33.33%
    }
    main article .outline-button {
        font-size: 1rem;
        white-space: nowrap;
    }

    #social-links p{
        font-size: 1.4rem;
        
    }
}


/* Desktop Styles */
@media only screen and (min-width: 1000px) {
    #brand {
        width: 7%;
      }
    header {
        justify-content: space-between;
        padding: .5rem 0 1rem;
    }
    header nav {
        width: auto;
    }
    header nav a {
        margin-right: 2rem;
    }
    #hero img {
        width: 20%;
    }

}